body {
    background-color: #3c3f43;
    font-family: Arial, sans-serif;
}

h1 {
    color: #343a40; 
}

.search-bar,
.pagination {
    border-radius: 10px;
    background-color: #ffffff; 
    padding: 10px;
}

.grid-item {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    transition: transform 0.3s ease;
}

.grid-item:hover {
    transform: translateY(-5px);
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: #f8f9fa; /* Light gray background for grid container */
    padding: 20px; /* Added padding for better spacing */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.pagination {
    display: flex;
    justify-content: space-between; /* Align items at the ends */
    align-items: center; /* Center items vertically */
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.next-page-button {
    /* Adjust button styles as needed */
    padding: 8px 20px;
    border-radius: 5px;
}

